In [9]:
import os
import sqlite3 as sql
import pandas as pd

In [10]:
os.path.abspath(os.getcwd())

'/home/hmangaiha/Desktop/elearn'

In [27]:
conn = sql.connect('db.sqlite3')
cur = conn.cursor()

In [34]:
# for row in cur.execute('SELECT * FROM contents_post;'):
#     print(row)

In [47]:
listing =pd.read_sql('SELECT * FROM  contents_post;', conn)

In [48]:
listing

,id,title,slug,updated_on,created_on,content,metades,status,author_id,coverimage,category_id,trailing_id,header_id
0,1,THE LORD IS GOOD,the-lord-is-good,2021-05-10 21:22:23.973064,2021-05-10 20:35:04,<p>GOD'S LOVE FAVOURS US ALL</p><figure class=...,new post,1,1,coverimage/Screenshot_from_2021-04-27_01-12-08...,1,NaN,NaN
1,2,THANK YOU LORD,thank-you-lord,2021-05-20 08:15:47.455092,2021-05-19 20:39:56,<p>NEW CONTENT</p>,new post,1,1,coverimage/Screenshot_from_2021-04-27_01-12-30...,1,1.0,1.0
2,3,Carpentry Industrial,carpentry-industrial,2021-05-20 20:17:10.797375,2021-05-20 13:39:22,"<figure class=""image""><img src=""/media/django_...",new post,1,1,coverimage/Screenshot_from_2021-05-09_21-13-28...,2,4.0,4.0
3,4,Using Tools,using-tools,2021-05-20 13:40:50.976955,2021-05-20 13:40:26,"<figure class=""image""><img src=""/media/django_...",new post,1,1,coverimage/Screenshot_from_2021-05-08_21-54-48...,2,NaN,NaN