In [42]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.metrics import pairwise_distances


import sqlite3 as sql
import pandas.io.sql as psql

In [45]:
import os
conn = sql.connect('./db.sqlite3')

In [46]:
crsr = conn.cursor()

In [47]:
crsr.execute('SELECT id as postId,title,category_id as categories FROM  contents_post;')
posts = crsr.fetchall()
posts = pd.DataFrame(posts)

In [49]:
posts.columns = crsr.column_names

AttributeError: 'sqlite3.Cursor' object has no attribute 'column_names'

In [39]:
# posts.head()

In [51]:
pd.read_sql_query('SELECT id as postId,title,category_id as categories FROM  contents_post;',conn)

   postId                 title  categories
0       1      THE LORD IS GOOD           1
1       2        THANK YOU LORD           1
2       3  Carpentry Industrial           2
3       4           Using Tools           2